version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    commit-message:
      prefix: ":arrow_up: QD-12983"
    schedule:
      interval: weekly
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: gomod
    directories:
      - cdnet
      - cli
      - cloud
      - cmd
      - core
      - platform
      - sarif
    commit-message:
      prefix: ":arrow_up: QD-12983"
    schedule:
      interval: weekly
    groups:
      dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*docker*"
