name: 'build-test'
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'install.ps1'
      - 'install'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: latest
          args: --enable gofumpt
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: --snapshot --rm-dist --debug
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          go test ./... -coverprofile cover.out
      - if: startsWith(matrix.os, 'ubuntu')
        uses: codecov/codecov-action@v3.0.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

