name: 'CI'
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  # lint: disabled as golangci-lint is not yet ready for Go workspaces
  test:
    if: github.repository == 'jetbrains/qodana-cli'
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
      pull-requests: write
      actions: read
      contents: write
      security-events: write
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: "**/*.sum"
          go-version-file: go.work
      - name: Set GOROOT and PATH from setup-go (Windows)
        if: runner.os == 'Windows'
        run: |
          echo "GOROOT=$(go env GOROOT)" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "GOPATH=$(go env GOPATH)" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "PATH=$env:PATH" | Out-File -FilePath $env:GITHUB_ENV -Append
        shell: pwsh
      - name: Set up Java 17 for config-loader-cli.jar
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # Use the Temurin JDK distribution
          java-version: '17'     # Java version 17
      - name: Overwrite tools (to run tests only on gh repo)
        run: >-
          touch
          cdnet/clt.zip
          tooling/baseline-cli.jar
          tooling/intellij-report-converter.jar
          tooling/qodana-fuser.jar
          clang/clang-tidy-linux-amd64.tar.gz
          clang/clang-tidy-linux-arm64.tar.gz
          clang/clang-tidy-windows-amd64.zip
          clang/clang-tidy-windows-arm64.zip
          clang/clang-tidy-darwin-amd64.tar.gz
          clang/clang-tidy-darwin-arm64.tar.gz
        shell: bash
      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: go install github.com/mfridman/tparse@latest
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: docker/login-action@v3
        with:
          registry: registry.jetbrains.team
          username: ${{ secrets.SPACE_USERNAME }}
          password: ${{ secrets.SPACE_PASSWORD }}
      - name: Build
        # Build everything that will be tested. Although go test performs a build itself, gotestfmt will panic on a
        # failed build.
        run: |
          go generate -v $(go list -f '{{.Dir}}/...' -m)
          go build -v $(go list -f '{{.Dir}}/...' -m)
        shell: bash
      - name: Run tests (with coverage)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          set -euo pipefail
          go test -json -v $(go list -f '{{.Dir}}/...' -m) -coverprofile coverage-${{ matrix.os }}.out 2>&1 | tee /tmp/gotest.log | gotestfmt
        env:
          QODANA_LICENSE_ONLY_TOKEN: ${{ secrets.QODANA_LICENSE_ONLY_TOKEN }}
      - name: Run tests (with coverage) for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: go test -v -json $(go list -f '{{.Dir}}/...' -m) -coverprofile coverage-${{ matrix.os }}.out | tparse -all -follow
        env:
          QODANA_LICENSE_ONLY_TOKEN: ${{ secrets.QODANA_LICENSE_ONLY_TOKEN }}
          GOROOT: ${{ env.GOROOT }}
          GOPATH: ${{ env.GOPATH }}
          PATH: ${{ env.PATH }}

  code-quality:
    if: github.repository == 'jetbrains/qodana-cli'
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      actions: read
      contents: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Overwrite tools (to run tests only on gh repo)
        run: >-
          touch
          cdnet/clt.zip
          tooling/baseline-cli.jar
          tooling/intellij-report-converter.jar
          tooling/qodana-fuser.jar
          clang/clang-tidy-linux-amd64.tar.gz
          clang/clang-tidy-linux-arm64.tar.gz
          clang/clang-tidy-windows-amd64.zip
          clang/clang-tidy-windows-arm64.zip
          clang/clang-tidy-darwin-amd64.tar.gz
          clang/clang-tidy-darwin-arm64.tar.gz
      - uses: docker/login-action@v3
        with:
          registry: registry.jetbrains.team
          username: ${{ secrets.SPACE_USERNAME }}
          password: ${{ secrets.SPACE_PASSWORD }}
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: "**/*.sum"
          go-version-file: go.work
      - uses: JetBrains/qodana-action@main
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          use-nightly: true
          pr-mode: false
          upload-result: true
      - uses: actions/upload-artifact@v4
        with:
          name: qodana-artifacts
          path: "${{ runner.temp }}/qodana/results"
      - uses: github/codeql-action/init@v3
        with:
          languages: go
      - uses: github/codeql-action/autobuild@v3
      - uses: github/codeql-action/analyze@v3

#  release-nightly:
#    runs-on: sre-eqx-kata
#    needs: [ test, code-quality ]
#    container:
#      image: ghcr.io/jetbrains/qodana-cli/devcontainer:latest
#    permissions:
#      checks: write
#      pull-requests: write
#      actions: read
#      contents: write
#      security-events: write
#      packages: read
#    if: github.ref == 'refs/heads/main'
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: 0
#      - name: Overwrite tools (to run tests only on gh repo)
#        run: |
#          touch cdnet/clt.zip tooling/baseline-cli.jar tooling/intellij-report-converter.jar tooling/qodana-fuser.jar
#      - run: |
#          ./download_deps.sh
#          export TARGETARCH=$(uname -m)
#          curl -fsSL "https://codesign-distribution.labs.jb.gg/codesign-client-linux-$TARGETARCH" -o /usr/local/bin/codesign || true
#          chmod +x /usr/local/bin/codesign || true
#          cd cli && goreleaser release --clean --nightly --skip=chocolatey,nfpm,homebrew,scoop,snapcraft
#        env:
#          GH_TOKEN: ${{ github.token }}
#          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}

#  install-script-check:
#    strategy:
#        fail-fast: false
#        matrix:
#            os: [ubuntu-latest, macos-latest]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/checkout@v4
#      - run: |
#          ./install
#          ./install nightly
