name: 'CI'
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  # lint: disabled as golangci-lint is not yet ready for Go workspaces
  test:
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
      pull-requests: write
      actions: read
      contents: write
      security-events: write
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: "**/*.sum"
          go-version-file: go.work
      - name: Overwrite tools (to run tests only on gh repo)
        run: |
          touch cdnet/clt.zip tooling/baseline-cli.jar tooling/intellij-report-converter.jar tooling/qodana-fuser.jar
          cat > go.work << EOF
          go 1.21
          
          use (
          ./cdnet
          ./cli
          ./cloud
          ./cmd
          ./core
          ./platform
          ./sarif
          ./tooling
          )
          EOF
        shell: bash
      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: docker/login-action@v3
        with:
          registry: registry.jetbrains.team
          username: ${{ secrets.SPACE_USERNAME }}
          password: ${{ secrets.SPACE_PASSWORD }}
      - name: Run tests (with coverage)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          set -euo pipefail
          go test -json -v $(go list -f '{{.Dir}}/...' -m | xargs) -coverprofile coverage-${{ matrix.os }}.out 2>&1 | tee /tmp/gotest.log | gotestfmt
        env:
          QODANA_LICENSE_ONLY_TOKEN: ${{ secrets.QODANA_LICENSE_ONLY_TOKEN }}
      - name: Run tests (with coverage) for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: go test -v $(go list -f '{{.Dir}}/...' -m | ForEach-Object { $_ }) -coverprofile coverage-${{ matrix.os }}.out
        env:
          QODANA_LICENSE_ONLY_TOKEN: ${{ secrets.QODANA_LICENSE_ONLY_TOKEN }}

  code-quality:
    runs-on: macos-14
    permissions:
      checks: write
      pull-requests: write
      actions: read
      contents: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: "**/*.sum"
          go-version-file: go.work
      - name: Overwrite tools (to run tests only on gh repo)
        run: |
          touch cdnet/clt.zip tooling/baseline-cli.jar tooling/intellij-report-converter.jar tooling/qodana-fuser.jar
          cat > go.work << EOF
          go 1.21

          use (
          ./cdnet
          ./cli
          ./cloud
          ./cmd
          ./core
          ./platform
          ./sarif
          ./tooling
          )
          EOF
        shell: bash
#      - uses: docker/login-action@v3
#        with:
#          registry: registry.jetbrains.team
#          username: ${{ secrets.SPACE_USERNAME }}
#          password: ${{ secrets.SPACE_PASSWORD }}
      - uses: JetBrains/qodana-action@main
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          QD_PRODUCT_INTERNAL_FEED: "https://data.services.jetbrains.com/products"
        with:
          use-nightly: true
          pr-mode: false
          upload-result: true
          args: --ide,QDGO-EAP
      - uses: github/codeql-action/init@v3
        with:
          languages: go
      - uses: github/codeql-action/autobuild@v3
      - uses: github/codeql-action/analyze@v3

#  install-script-check:
#    strategy:
#        fail-fast: false
#        matrix:
#            os: [ubuntu-latest, macos-latest]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/checkout@v4
#      - run: |
#          ./install
#          ./install nightly
