name: devcontainer

on:
  push:
    branches:
      - main
    paths:
      - .devcontainer/**
      - .github/workflows/devcontainer.yml
  pull_request:
    paths:
      - .devcontainer/**
      - .github/workflows/devcontainer.yml
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        if: github.ref == 'refs/heads/main'
        with:
          registry: registry.jetbrains.team
          username: ${{ secrets.SPACE_PUBLISH_USERNAME }}
          password: ${{ secrets.SPACE_PUBLISH_PASSWORD }}
      - uses: docker/login-action@v3
        if: github.ref == 'refs/heads/main'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .devcontainer
          push: ${{ github.ref == 'refs/heads/main' }}
          platforms: linux/amd64,linux/arm64
          tags: |
            registry.jetbrains.team/p/sa/public/godevcontainer:1.${{ github.run_number }}
            registry.jetbrains.team/p/sa/public/godevcontainer:latest
            ghcr.io/jetbrains/qodana-cli/devcontainer:1.${{ github.run_number }}
            ghcr.io/jetbrains/qodana-cli/devcontainer:latest
